CREATE DATABASE VentaMusical
USE [VentaMusical]
GO
/****** Object:  Table [dbo].[Albumes]    Script Date: 8/17/2025 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Albumes](
	[CodigoAlbum] [int] IDENTITY(1,1) NOT NULL,
	[CodigoArtista] [int] NOT NULL,
	[NombreAlbum] [varchar](150) NOT NULL,
	[AnoLanzamiento] [int] NOT NULL,
	[Imagen] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoAlbum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Artistas]    Script Date: 8/17/2025 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Artistas](
	[CodigoArtista] [int] IDENTITY(1,1) NOT NULL,
	[NombreArtistico] [varchar](100) NOT NULL,
	[FechaNacimiento] [varchar](100) NOT NULL,
	[NombreReal] [varchar](100) NOT NULL,
	[Nacionalidad] [varchar](100) NOT NULL,
	[Foto] [varchar](max) NOT NULL,
	[LinkBiografia] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoArtista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Auditoria]    Script Date: 8/17/2025 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auditoria](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
	[Usuario] [varchar](100) NOT NULL,
	[Accion] [nvarchar](30) NOT NULL,
	[TablaAfectada] [varchar](100) NOT NULL,
	[IDRegistroAfectado] [int] NOT NULL,
	[Detalles] [varchar](100) NOT NULL,
	[IPUsuario] [varchar](35) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Canciones]    Script Date: 8/17/2025 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Canciones](
	[CodigoCancion] [int] IDENTITY(1,1) NOT NULL,
	[CodigoGenero] [int] NOT NULL,
	[CodigoAlbum] [int] NOT NULL,
	[NombreCancion] [varchar](150) NOT NULL,
	[LinkVideo] [varchar](max) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoCancion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleVenta]    Script Date: 8/17/2025 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleVenta](
	[IDDetalle] [int] IDENTITY(1,1) NOT NULL,
	[NumeroFactura] [int] NOT NULL,
	[CodigoCancion] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[NombreCancion] [varchar](150) NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IDDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Generos]    Script Date: 8/17/2025 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Generos](
	[CodigoGenero] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CodigoGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 8/17/2025 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NumeroIdentificacion] [varchar](30) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[Genero] [nvarchar](10) NOT NULL,
	[CorreoElectronico] [varchar](255) NOT NULL,
	[TipoTarjeta] [nvarchar](25) NOT NULL,
	[DineroDisponible] [decimal](10, 2) NOT NULL,
	[NumeroTarjeta] [varchar](25) NOT NULL,
	[Contrasena] [varchar](30) NOT NULL,
	[Perfil] [nvarchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NumeroIdentificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 8/17/2025 5:52:45 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[NumeroFactura] [int] IDENTITY(1,1) NOT NULL,
	[IDUsuario] [int] NOT NULL,
	[FechaCompra] [datetime] NOT NULL,
	[TipoPago] [nvarchar](25) NOT NULL,
	[TotalSinIVA] [decimal](10, 2) NOT NULL,
	[IVA] [decimal](10, 2) NOT NULL,
	[RecargoTarjeta] [decimal](10, 2) NOT NULL,
	[TotalFinal] [decimal](10, 2) NOT NULL,
	[CodigoTarjeta] [varchar](4) NULL,
	[MontoCreditoUsado] [decimal](10, 2) NULL,
	[MontoRestante] [decimal](10, 2) NULL,
	[Estado] [nvarchar](20) NULL,
	[EnviadaPorCorreo] [bit] NULL,
	[TotalConCredito] [decimal](18, 0) NULL,
	[FechaEnvioCorreo] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NumeroFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Auditoria] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[DetalleVenta] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [FechaCompra]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [MontoCreditoUsado]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [MontoRestante]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ('Completada') FOR [Estado]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT ((0)) FOR [EnviadaPorCorreo]
GO
ALTER TABLE [dbo].[Albumes]  WITH CHECK ADD FOREIGN KEY([CodigoArtista])
REFERENCES [dbo].[Artistas] ([CodigoArtista])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Canciones]  WITH CHECK ADD FOREIGN KEY([CodigoGenero])
REFERENCES [dbo].[Generos] ([CodigoGenero])
GO
ALTER TABLE [dbo].[Canciones]  WITH CHECK ADD FOREIGN KEY([CodigoAlbum])
REFERENCES [dbo].[Albumes] ([CodigoAlbum])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([CodigoCancion])
REFERENCES [dbo].[Canciones] ([CodigoCancion])
GO
ALTER TABLE [dbo].[DetalleVenta]  WITH CHECK ADD FOREIGN KEY([NumeroFactura])
REFERENCES [dbo].[Ventas] ([NumeroFactura])
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([IDUsuario])
REFERENCES [dbo].[Usuarios] ([ID])
GO
