@model VentaMusical.Models.ViewModels.Carritos.VaciarCarrito

<div class="text-center mt-4">
    <div class="fs-1 text-muted">@Model.Icono @Model.Titulo</div>

    <div class="alert alert-warning mt-3">
        @Model.Mensaje
    </div>

    <div class="mt-2">
        @foreach (var boton in Model.Botones)
        {
            @Html.ActionLink(boton.Texto, boton.Accion, boton.Controlador, boton.RutaParametros,
                     new { @class = boton.ClaseCss, title = boton.Titulo })
        }
    </div>
</div>